<h3 class="mb-3">Formulario Agregar</h3>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="mb-3">
    <div class="form-group">
      <label for="txtNombre" class="form-label">Nombre<span class="text-danger">*</span></label>
      <input type="text" id="txtNombre" class="form-control" [formControlName]="campos.nombre">
      
      <div class="text-danger text-end" *ngIf="form.get(campos.nombre)?.invalid && !form.get(campos.nombre)?.pristine">
        <div *ngIf="form.get('nombre')?.hasError('required')">
          El campo nombre es requerido
        </div>
        <div *ngIf="form.get('nombre')?.hasError('minlength')">
          El campo es demasiado corto
        </div>
        <div *ngIf="form.get('nombre')?.hasError('maxlength')">
          El campo es demasiado largo
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <label for="txtDocumento" class="form-label">Documento<span class="text-danger">*</span></label>
      <input type="number" id="txtDocumento" class="form-control" formControlName="documento">
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <label for="txtFechaDeNacimiento" class="form-label">Fecha de nacimiento</label>
      <input type="date" id="txtFechaDeNacimiento" class="form-control" formControlName="fechaNacimiento">
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <label for="cmbGenero"  class="form-label">Genero</label> 
      <select id="cmbGenero" class="form-select" formControlName="genero">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="NoBinario">No Binario</option>
        <option value="Otro">Otro</option>
        <option value="PrefieroNoDecirlo">Prefiero no decirlo</option>
      </select>
    </div>
  </div>

  <div class="mb-3 d-flex justify-content-between">
    <a class="btn btn-primary me-2 mt-2" routerLink="">Volver al listado con RoterLink</a>
    <button type="submit" class="btn btn-primary mt-2">Agregar Contacto</button>
  </div>
</form>

<div class="alert alert-success">
  <div class="alert alert-success">
    <b>Debug</b>

    <hr />

    {{ form.value | json }}

    <hr />

    {{ form.get("nombre")?.errors| json }}

    <div>
      <button (click)="cambiarDatos()">
        Cambiar Datos
      </button>
    </div>
  </div>
</div>